.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 0 1.2rem;
}

.nav .logo {
  font-size: 2rem;
  color: #fff;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}
